<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>DPRM ACQUISITION</title>
</head>

  <frameset rows="80,*,60" frameborder="0" border="0" framespacing="0">

    <frame name="header" src={{id_header_link}}>

    <frameset cols="240,*" frameborder="0" border="0" framespacing="0">

      <frame name="nav" src={{id_nav_link}} marginheight="0" marginwidth="0" noresize>
      <frame name="content" src={{id_content_link}} marginheight="0" marginwidth="0" scrolling="auto" noresize>

    </frameset>
    
    <frame name="footer" src={{id_footer_link}}> 

    <noframes>
      <p>This section (everything between the 'noframes' tags) will only be displayed if the users' browser doesn't support frames. You can provide a link to a non-frames version of the website here. Feel free to use HTML tags within this section.</p>
    </noframes>

  </frameset>
  
</html>