<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>DPRM ACQUISITION</title>
</head>
	
		<frameset rows="240,*,40" frameborder="0" border="0" framespacing="0">

			<frame name="requester_acquisition" src={{id_requester_acquisition_link}}>

			<frame name="result_acquisition" src={{id_result_acquisition_link}} marginheight="0" marginwidth="0" scrolling="auto" noresize>
			
			<frame name="footer_acquisition" src={{id_footer_acquisition_link}}> 

			<noframes>
			<p>This section (everything between the 'noframes' tags) will only be displayed if the users' browser doesn't support frames. You can provide a link to a non-frames version of the website here. Feel free to use HTML tags within this section.</p>
			</noframes>

		</frameset>

</html>