body 
{
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	margin:10px;
	background-color:rgb(255, 253, 253);
	scroll-margin-right: 30px;
}
/* Style de la modale */
dialog {
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	border: none;					
	width: 300px;								
}

/* Style de l'arrière-plan (overlay) */
dialog::backdrop {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
}

form { display: flex; flex-direction: column; gap: 5px; }			
.actions { display: flex; justify-content: flex-end; gap: 5px; }
input { padding: 4px;}

button { cursor: pointer; padding: 8px 16px; border: none; }
	.btn-new { background: #797678; color: white; }
	.btn-cancel { background: #999ea3; color: white; }