.etape 
{
    position: absolute;
    opacity: 0;
    animation: loopAnimation 24s infinite; 
}

/* Décale le démarrage de chaque animation */
.etape:nth-child(2) { animation-delay: 8s; }
.etape:nth-child(3) { animation-delay: 16s; }
.etape:nth-child(4) { animation-delay: 14s; }

@keyframes loopAnimation 
{
    0%, 33% { opacity: 1; }  /* Visible pendant le premier tiers du cycle */
    34%, 100% { opacity: 0; } /* Invisible le reste du temps */
}

.container {
    width: 300px;
    height: 150px;
}

img 
{
    display: block; /* Ensure block-level behavior */
    margin-left: 38%;
    margin-right: auto;
    margin-top:3%;
    width: 53%;			
    height: auto;		
    top: 30px;
}