<!DOCTYPE html>
<html lang="en"> 
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} {{company_name}}</title>
    
    <link rel="icon" href="{{ url_for('static', filename = 'icon/dprm_main.ico') }}" type="image/x-icon" />

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dprm_global.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/dprm_index.css') }}">

	<script type = "text/javascript" src = "{{ url_for('static', filename = 'script/dprm_index.js') }}" ></script> 


</head>

    <frameset rows="300,*,80" frameborder="0" border="0" framespacing="0">

        <frame name="header" src={{id_header_link}}>

        <frame name="content" src={{id_content_link}} marginheight="0" marginwidth="0" scrolling="auto" noresize>
        
        <frame name="footer" src={{id_footer_link}}> 

        <noframes>
        <p>This section (everything between the 'noframes' tags) will only be displayed if the users' browser doesn't support frames. You can provide a link to a non-frames version of the website here. Feel free to use HTML tags within this section.</p>
        </noframes>

    </frameset>
  
</html>